    
    {{#each user.children as |user|}}

    <div>
    &#8627<div class="chain-name">{{user.username}}</div>
    <div class="children-container">

    
      {{>shared/_children user=user}}
    </div>
    </div>
    {{/each}}
    
