
<div id="main">
  <div id="referral_link">
    <h4>Your referral link is: <a href="http://localhost:3000/register/{{user.id}}">http://localhost:3000/register/{{user.id}}</a></h4>
  </div>

  <div id="ponz_pointz">
    <h2>PonzPointz ${{user.points}}</h2>
  </div>

  {{#if user.parent}}
  <h2>Your referrer is {{parent.username}}<h2>
  {{/if}}

  <h2>Tree Part</h2>
  {{>shared/_children}}
</div>
